{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [erl_list_bench]}
]}.

{deps, [
    {eministat, "0.10.*", {git, "git@github.com:jlouis/eministat.git"}}
]}.
{erl_opts, [warn_export_vars,warn_shadow_vars,warn_obsolete_guard, no_debug_info]}.

{escript_incl_apps,
 [erl_list_bench, eministat]}.
{escript_main_app, erl_list_bench}.
{escript_name, erl_list_bench}.
{escript_emu_args, "%%! +sbtu +A1 -noshell\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
